<div class="profile-page row">
  <h1>Welcome Eliza</h1>
  <div class=" col-sm-4 well">
    <form>
      <div class="form-group">
        {{input value=tripName placeholder="Name Your Trip" class="form-control"}}
        <br>
        <button type="submit" class="btn btn-default btn-lg" {{action "createTrip"}}>Create Your Trip</button>
      </div>
    </form>
    {{#each trip in model itemController ="trip"}}
    <ul>
      <span {{action "showTrip"}}>
        <li>{{#link-to "trip" trip }}{{trip.name}}{{/link-to}}</li>
      </span>
    </ul>
    {{/each}}
  </div>


{{#if showTrip}}
  <div class="col-sm-5 well">
    {{outlet}}
  </div>
{{/if}}


</div>
