<h3>{{name}}</h3>
<button class="btn our-btn" {{action "startList"}}>Group Camping List</button>
{{#if list}}
 <h4>Select Group Gear</h4>
{{#each item in campingListItems itemController="campingListItem"}}
  {{input type="checkbox" checked=item.need}}
  {{item.name}}
{{/each}}
<form>
  {{input type="text" class="form-control" value=itemName placeholder="Other Items"}}
  <button type="submit" class="btn btn-sml" {{action "addItem"}}>Add</button>
</form>
<button type="submit" class="btn our-btn" {{action "addCampItems"}}>View Your List</button>
{{/if}}
