<h3>{{name}}</h3>
<button class="btn our-btn" {{action "editIndividualList"}}>Edit Individual Camping List</button>

{{#if individualList}}
  <h4>Select Individual Gear</h4>
  <ul>
    {{#each item in individualListItems itemController="individualListItem"}}
      <li>
        {{input type="checkbox" checked=item.updateNeedStatus}}
        {{item.amount}} {{item.name}}
        <button class="incrementButton" {{action "less"}}>-</button>
        {{input value=item.amount class="qty"}}
        <button class="incrementButton" {{action "more"}}>+</button>
      </li>
    {{/each}}
  </ul>

  <form class="form-inline">
    {{input type="text" class="form-control" value=itemName placeholder="Other Items"}}
    <button type="submit" class="btn btn-sml" {{action "addItem" "individualListItem"}}>Add</button>
  </form>

{{/if}}




<button class="btn our-btn" {{action "editGroupList"}}>Edit Group Camping List</button>
<br>
{{#if groupList}}
 <h4>Select Group Gear</h4>
  <ul>
    {{#each groupItem in campingListItems itemController="campingListItem"}}
      <li>
        {{input type="checkbox" checked=groupItem.updateNeedStatus}}
        {{item.amount}} {{groupItem.name}}
        <button class="incrementButton" {{action "less"}}>-</button>
        {{input value=groupItem.amount class="qty"}}
        <button class="incrementButton" {{action "more"}}>+</button>
      </li>
    {{/each}}
  </ul>
  <form class="form-inline">
    {{input type="text" class="form-control" value=Name placeholder="Other Items"}}
    <button type="submit" class="btn btn-sml" {{action "addItem" 'campingListItem'}}>Add</button>
  </form>
  <br>
{{/if}}

{{#if lists}}
  <h3>Group Items</h3>
  {{#each item in campingListItems}}

    {{#if item.need}}
      <ul>
        <li>{{item.name}}</li>
      </ul>
    {{/if}}

  {{/each}}

  <h3>Individual Items</h3>
  {{#each item in individualListItems}}

    {{#if item.need}}
      <ul>
        <li>{{item.name}}</li>
      </ul>
    {{/if}}

  {{/each}}
{{/if}}

<button type="submit" class="btn our-btn" {{action "showCompleteList"}}>View Your List</button>
