<h3>{{name}}</h3>
<button class="btn our-btn" {{action "startList"}}>Group Camping List</button>
{{#if list}}
 <h4>Select Group Gear</h4>
<ul>
  {{#each item in campingListItems itemController="campingListItem"}}
    <li>
      {{input type="checkbox" checked=item.updateNeedStatus}}
      {{item.name}}
  </li>
  {{/each}}
</ul>
<form>
  {{input type="text" class="form-control" value=itemName placeholder="Other Items"}}
  <button type="submit" class="btn btn-sml" {{action "addItem"}}>Add</button>
</form>
<button type="submit" class="btn our-btn" {{action "addCampItems"}}>View Your List</button>
{{/if}}
